:root {
    background-color: #181819;
}

* {
    border-radius: 10px;
    font-family: monospace;
    text-align: center;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

header {
    margin-bottom: 20px;
}

header > h2 {
    text-decoration: underline;
}

header > p {
    margin: 5px;
    color: #d4d4d4;
}

footer {
    width: 100%;
    line-height: 20px;
    margin-top: auto;
    padding: 20px 0;
    background-color: #181819;
}

main {
    display: flex;
}

#canvas {
    width: 500px;
    height: 500px;
    image-rendering: pixelated;
}

#content {
    margin-left: 25px;
    max-width: 100%;
    box-sizing: border-box;
}

#display {
    list-style: none;
    background-color: #202021;
    margin: 0;
    padding: 10px;
}

#display li {
    margin-top: 25px;
}

#sources {
    list-style: none;
    padding: 10px;
    background-color: #202021;
}

#sources h2 {
    margin: 0;
    text-align: center;
}

#sources li {
    margin-top: 20px;
}

.button-style {
    background: none;
    border: transparent;
    cursor: pointer;
    background-color: #181819;
    padding: 0;
    width: 80%;
}

.button-style-front {
    display: block;
    padding: 5px 10px;
    font-size: 15px;
    background: #1c1c1d;
    transform: translateY(-6px);
}

.button-style:active .button-style-front {
    transform: translateY(-2px);
}

.input {
    position: relative;
}

.input > input {
    font-size: 15px;
    padding: 5px 10px;
    text-align: left;
    color: #d4d4d4;
    border: 1px solid #181819;
    background-color: #242425;
    border-top-left-radius: 0 !important;
}


input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    transform: rotate(90deg);
    height: 25px;
    margin-right: 10px;
}

.input > label {
    position: absolute;
    top: -16px;
    background-color: #242425;
    padding: 0px 10px;
    border-radius: 0 !important;
    border: 1px solid #181819;
}

.a-style {
    display: block;
    width: 80%;
    margin: 0 auto;
    background-color: #181819;
}

.a-style-front {
    display: block;
    padding: 5px 10px;
    font-size: 15px;
    background: #1c1c1d;
    transform: translateY(-6px);
}

.a-style:active .a-style-front {
    transform: translateY(-2px);
}

.download {
    background-color: #006482 !important;
}

.download-front {
    background-color: #007d96 !important;
}

.reset {
    background-color: #641e1e !important;
}

.reset-front {
    background-color: #821e1e !important;
}

@media screen and (max-width: 800px) and (min-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #content {
        display: flex;
        flex-direction: row;
        padding: 0;
        justify-content: space-around;
        margin-top: 25px;
    }

    #sources {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
    }

    #canvas {
        max-width: 300px;
        max-height: 300px;
    }

    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-top: 20px;
    }

    #display {
        width: 100%;
    }

    #sources {
        width: 100%;
    }

}
